/*Don't forget to use "Web Safe font" -> (Offline font)*/

/*Order -> High to less important fonts*/


/* Font importation in local files*/
@font-face{
    src: url(Font/LibreBaskerville-Regular.ttf);
    font-family : LibreBaskerville-Regular;
}

@font-face{
    /* 1) Importation of the font */
    src : url(Font/RobotoMono.ttf);

    /* 2) Using of Font */
    font-family : RobotoMono;

}

@font-face{
    src : url(Font/HACKED.ttf);

    font-family : HACKED;
}
                        /*Classes that are reutilizable for the entire website*/
/*Call the font that we imported upper*/
.fontRoboto{
    font-family : RobotoMono;
}

.fontLibre{
    font-family : LibreBaskerville-Regular;
}

.fontHack{
    font-family : HACKED;
}

.margin{
    margin : -10px;
}


/*center text still useful ?*/
.center{
    text-align : center;
    background-color : black;
}

/* Center without the black bg*/
.centerWB{
    text-align : center;
}

.centerHypertext{
    text-align:center;
    font-size : 25px;
}

body{
    background-color:black;
    background-image : url(Pictures/Background/mainBackground.jpg);
    color :white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size:50px;
    text-align : center;
}
header h1{
    text-shadow:0px 0px 25px grey;
}

h2{
    font-size:35px;
    text-align:center;
}

a{
    color : white;
}

a:hover{
    font-size:1.2em;
}

a:active{
    color : red;
}

a:visited{
    color :white;
}

li{
    font-size : 1.2em;
}

p{
    color : white;
                    /*Georgia font is used if the LibreBasker font cannot be loaded*/
    font-family : LibreBaskerville-Regular,Georgia;
}

pre{
    color : white;
    font-family : LivreBaskerville-Regular;
}


                                    /* MAIN_MENU */


/*Color used for the Matrix mode*/
.greenColor {
    color : rgb(16, 204, 16);
}

.greenColor a,
.greenColor a:link,
.greenColor a:visited{
    color : rgb(16,204,16);
}

.whiteColor *{
    color : white;
}

/* Overlay plein écran */
#introOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.8); /*Opacity*/
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    cursor: pointer; /*Changes into the hand cursor*/

    z-index: 9999; /*High priority (passe au-dessus de TOUT)*/
    transition: opacity 0.2s ease; /*useless*/
}

#mainContainer{
    transition: filter 1.5s ease;
}

/* Flou du site derrière */
#mainContainer.blur {
    filter: blur(8px);
}

#Information_main_menu {
    background-color : black;
    text-align : center;
    font-family: LibreBaskerville-Regular;
}

#HypertextMenu{
    font-size : 35px;
}

#HypertextMenu:hover{
    background-color :rgb(85, 85, 85);
}

#HypertextMenu:not(hover){
    background-color : black;
}


.Menu_Tag:hover{
    background-color: rgb(0, 0, 0);
    font-size : 1.2em;
}












                                    /* SOUNDTRACK */
#bodySoundtrack{
    text-align: center; /*I may cheated on the look of this page*/
}




                                    /* CHARACTERS */

#bodyCharacters { /*Used also for the mission & place page*/
    font-family : RobotoMono;
}

.centerCharacters{ /* used also in the Place & trophy page*/
    text-align : center;
    list-style-position: inside;
    font-family : LibreBaskerville-Regular;
}

.borderCharacters{ /* Used for paragraph description*/
    border-style : solid;
    border-width : 2.5px;
    border-color:white;
    background-color : black;
    padding:10px;
    margin-top : -2px;
    margin-left : 250px;
    margin-right : 250px;
}

.borderCharactersLI{ /*Used for <li>*/
    border-style : solid;
    border-width : 2.5px;
    border-color:white;
    background-color : black;
    padding:15px;
    margin-top : -2px;
    display:inline-table;
}


                                    /* TROPHY GUIDE*/


.bronzeTrophy{
    font-family : LibreBaskerville-Regular;
    color : rgb(94, 67, 52);
    background-color:black;
    border:3px solid rgb(94,67,52);
    padding:10px;
    display:inline-table;
}

.silverTrophy{
    font-family : LibreBaskerville-Regular;
    color : rgb(186, 185, 184);
    background-color:black;
    border:3px solid rgb(186,185,184);
    padding:10px;
    display:inline-table;
}

.goldTrophy{
    font-family : LibreBaskerville-Regular;
    color : rgb(255,223,0);
    background-color:black;
    border:3px solid rgb(255,223,0);
    padding:10px;
    display:inline-table;
}

.borderTrophy{
    border-style : solid;
    border-width : 2.5px;
    border-color:white;
    background-color : black;

    display:inline-table;
    margin-right:250px;
    margin-left:250px;
    margin-top:10px;
    margin-bottom:30px;
    padding-left:10px;
    padding-right:10px;
}

                            /*AUDIO LOG*/
.titleAudio{
    font-size : 2em;
}
