/*Don't forget to use "Web Safe font" -> (Offline font)*/

/*Order -> High to less important fonts*/


/* Font importation in local files*/
@font-face{
    src: url(Font/LibreBaskerville-Regular.ttf);
    font-family : LibreBaskerville-Regular;
}

@font-face{
    /* 1) Importation of the font */
    src : url(Font/RobotoMono.ttf);

    /* 2) Using of Font */
    font-family : RobotoMono;

}

@font-face{
    src : url(Font/HACKED.ttf);

    font-family : HACKED;
}
                        /*Classes that are reutilizable for the entire website*/
/*Call the font that we imported upper*/
.fontRoboto{
    font-family : RobotoMono;
}

.fontLibre{
    font-family : LibreBaskerville-Regular;
}

.fontHack{
    font-family : HACKED;
}

.margin{
    margin : -10px;
}

.fontSize{
    font-size : 1.2em;
}



/*center text still useful ?*/
.center{
    text-align : center;
    background-color : black;
}

.centerHypertext{
    text-align:center;
    font-size : 20px;
}

body{
    background-color:black;
    background-image : url(Pictures/Background/mainBackground.jpg);
    color :white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size:50px;
    text-align : center;
}

h2{
    font-size:35px;
    text-align:center;
}

a{
    color : white;
}

a:hover{
    font-size:1.2em;
}

a:active{
    color : red;
}

a:visited{
    color :white;
}


                                    /* MAIN_MENU STYLE */


/*Color used for the Matrix mode*/
.greenColor {
    color : rgb(16, 204, 16);
}

.greenColor a,
.greenColor a:link,
.greenColor a:visited{
    color : rgb(16,204,16);
}

.whiteColor *{
    color : white;
}


#Information_main_menu {
    background-color : black;
    text-align : center;
    font-family: LibreBaskerville-Regular;
}

#HypertextMenu{
    font-size : 35px;
}

#HypertextMenu:hover{
    background-color :rgb(85, 85, 85);
}

#HypertextMenu:not(hover){
    background-color : black;
}


.Menu_Tag:hover{
    background-color: rgb(0, 0, 0);
    font-size : 1.1em;
}












                                    /* SOUNDTRACK */
#bodySoundtrack{
    text-align: center; /*I may cheated on the look of this page*/
}

                                    /* CHARACTERS */

#bodyCharacters {
    font-family : RobotoMono;
    text-align: center;
}



                                    /* TROPHY GUIDE*/


#bronzeTrophy{
    font-family : LibreBaskerville-Regular;
    color : rgb(94, 67, 52);
}

#silverTrophy{
    font-family : LibreBaskerville-Regular;
    color : rgb(186, 185, 184);
}

#goldTrophy{
    font-family : LibreBaskerville-Regular;
    color : rgb(255,223,0);
}

p{
    color : white;
                    /*Georgia font is used if the LibreBasker font cannot be loaded*/
    font-family : LibreBaskerville-Regular,Georgia;
}

pre{
    color : white;
    font-family : LivreBaskerville-Regular;
}



                            /* AMBROSE THEATRE (DOTCONNEXION) PAGE */

#backCharacter:hover {
    font-size : 1.2em;
}



#backCharacter:active {
    color : red;
}

/* Don't work */
#backCharacter:visited {
    color : white;
}


/* deMarco Page */

#BackDeMarco:hover{
    font-size : 1.2em;
}

#BackDeMarco:active{
    color : red;
}
#BackDeMarco:visited{
    color : green;
}

#bodyDeMarco{
    background-color: black;
    color : white;
}

#colorPageDeMarco{
    color : white;
}

/* Watch Dogs Trailer */

#wdTrailer:hover{
    font-size : 1.4em;
}

#wdTrailer:visited{
    color : green;
}

/* No backspace on it and all will work */
#wdTrailer:active{
    color : red;
}


/* QUINN AUCTION PAGE */
#bodyAuction{
    color: white;
    background-color : black;
}

#linkAuction:hover{
    font-size : 1.2em;
}

#linkAuction:visited{
    color : green;
}

#linkAuction:active{
    color : red;
}

/* Poppy page */


#poppyGraphism{
    background-color : black;
    color : white;
}

#poppyLink:visited{
    color : green;
}

#poppyLink:hover{
    font-size:1.2em;
}

#poppyLink:active{
    color : red;
}


#dotConnexion p{
    font-family : RobotoMono;
}


.important{
    color : red;
    font-size : 1.2em;
    font-family : LibreBaskerville-Regular;
}



                                        /*AUDIO LOG PAGE*/
.title_Audio{
    font-size : 2em;
}

#body_Audio{
    color : white;
    background-color : black;
}
           